*{
	border: none;
	box-sizing: border-box;
	font-family: 'Verdana';
	font-size: 14px;
	margin: 0px;
	outline: none;
	padding: 0px;
	text-decoration: none;
}
body{
	background: rgb(248, 250, 252);
}
p{
	font-size: 12px;
}
.container{
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: 0px 0px 4px rgb(220, 220, 220);
	margin: auto;
	width: 1680px;
}
.row{
    padding: 10px;
    width: 100%;
}
.col{

}
.columns, .articles{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.column, .article{
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    width: 100%;
}
.column__element, .article__element{
    background: rgb(240, 245, 250);
    border-left: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    border-right: 2px solid rgb(255, 255, 255);
    padding: 4px;
}
.column__element{
    background: rgb(50, 58, 79);
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.column__element:nth-of-type(1), .article__element:nth-of-type(1){
    width: 4%;
}
.column__element:nth-of-type(2), .article__element:nth-of-type(2){
    width: 40%;
}
.column__element:nth-of-type(3), .article__element:nth-of-type(3){
    width: 20%;
}
.column__element:nth-of-type(4), .article__element:nth-of-type(4){
    width: 8%;
}
.column__element:nth-of-type(5), .article__element:nth-of-type(5){
    width: 22%;
}
.column__element:nth-of-type(6), .article__element:nth-of-type(6){
    width: 6%;
}
.article__element:nth-of-type(6) a{
    color: rgb(150, 158, 179);
}
.article__element:nth-of-type(6) a:hover{
	color: rgb(50, 58, 79);
    cursor: pointer;
}
.button{
	background: rgb(240, 245, 250);
    border: 1px solid rgb(50, 58, 79);
    border-radius: 4px;
    color: rgb(50, 58, 79);
    font-weight: 900; 
    margin: 12px auto 0px 0px;
    padding: 10px 16px;
}
.button:hover{
    background: rgb(50, 58, 79);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
